apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageUpdateAutomation
metadata:
  name: image-automation
  namespace: flux-system
spec:
  interval: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: vio@giraffeingreen.fyi
        name: FluxCD Bot
      messageTemplate: |
        Update images to latest

        Automated image update by Flux
    push:
      branch: flux-image-updates
  update:
    path: ./clusters/personal-cluster
    strategy: Setters
